name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    # 1️⃣ Checkout
    - name: Checkout Code
      uses: actions/checkout@v4

    # 2️⃣ Login to DockerHub
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # 3️⃣ Build Docker Image
    - name: Build Docker Image
      run: docker build -t indhujavs/guvi_phase_3:latest .

    # 4️⃣ Push Docker Image
    - name: Push Docker Image
      run: docker push indhujavs/guvi_phase_3:latest

    # 5️⃣ SSH and Deploy on EC2
    - name: SSH and Deploy
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        script: |
          echo "Stopping existing container..."
          sudo docker stop myapp || true
          
          echo "Removing old container..."
          sudo docker rm myapp || true
          
          echo "Pulling latest image..."
          sudo docker pull indhujavs/guvi_phase_3:latest
          
          echo "Starting new container..."
          sudo docker run -d \
            -p 80:80 \
            --restart always \
            --name myapp \
            indhujavs/guvi_phase_3:latest
          
          echo "Deployment completed successfully!"
